.card-texts p:hover{
    background-color:  rgba(138, 92, 246, 0.13);
    border-radius: 5px;
}


.job-details-header{
    margin: 30px auto;
    height: 200px;
    background-color: rgba(138, 92, 246, 0.13);
    border-radius: 5px;
}
.job-details-header:hover{
    background-color: rgba(138, 92, 246, 0.288);
}
.job-details-header h2{
    line-height: 200px;
}

.job-details-right-card{
    background-color: rgba(138, 92, 246, 0.13);
    height: 480px;
    border-radius: 5px;
}
.job-details-right-card:hover{
    background-color: rgba(138, 92, 246, 0.288);
}

.job-details-right-card-texts{
    padding: 20px;
}
hr{
    border: 1px solid rgba(0, 0, 0, 0.11);
}