.netflix-full-card{
    background-color: rgba(138, 92, 246, 0.13);
    height: 220px;
    border-radius: 5px;
}

/* .netflix-img-card{
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    margin: 20px 20px;
} */
.netflix-img-card img{
    line-height: 200px;
    margin: 90px 50px;
}