

.card-border{
    width: 220px;
    height: 210px;
    background-color: rgb(248, 247, 247);
    border: 1px solid rgba(0, 51, 128, 0.24);
    margin: auto;
    
}
.img-border{
    width: fit-content;
    padding: 10px;
    background-color: rgb(241, 241, 241);
}

.img-border img{
    padding: 20px;
    width: 100px;
}
