nav h1:hover{
    color: rgb(110, 49, 250);;
}

.btn-web{
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    background-color: rgb(139 92 246);
    border-radius: 5px;
}
.btn-web:hover{
    background-color: rgb(110, 49, 250);
}

.nav-word p{
    font-weight: 600;
}
.nav-word p:hover{
    color: rgb(139 92 246);
}

.btn-job{
    color: rgb(139 92 246);
    font-weight: bold;
    padding: 8px 15px ;
    border: 1px solid rgb(139 92 246);
    border-radius: 5px;
}
.btn-job:hover{
    color: white;
    background-color: rgb(110, 49, 250);
}